<div class="container">
    <app-jon-snow></app-jon-snow>
    <!---------->
    <a routerLink="/home" routerLinkActive="active" class="btn_back">
        <i>Back</i>
    </a>
    <!---------->

    <h1>Become an <br> influencer</h1>
    <img src="../../assets/foto/img3/logo.png" alt="" class="logo">
    <img src="../../assets/foto/img3/woman.png" alt="" class="woman">
    <img @openClose *ngIf='open' src="../../assets/foto/img3/arrow.png" alt="" class="arrow">
    <img src="../../assets/foto/img3/plus.png" alt="" class="plus">
    <img src="../../assets/foto/img3/priam.png" alt="" class="priamokut">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br> Vitae molestias, dolores corrupti quis<br> veniam
        soluta
        optio dolor laboriosam
    </p>
    <img src="../../assets/foto/img3/dote.png" alt="" class="dote">
    <img src="../../assets/foto/img3/dote.png" alt="" class="dote2">
</div>