<div class="container">
    <div class="logo"><a href="#"><img src="./img/logo.png" alt=""></a></div>
    <h1>Become an<br> influencer</h1>
    <img src="../../assets/foto/img/line.png" alt="" class="line">
    <img src="../../assets/foto/img/dote.png" alt="" class="dote">
    <img src="../../assets/foto/img/dote.png" alt="" class="dote2">
    <img src="../../assets/foto/img/plus.png" alt="" class="plus">
    <img src="../../assets/foto/img/arrow.png" alt="" class="arrow">
    <img src="../../assets/foto/img/priamokut.png" alt="" class="priamokut">
    <img src="../../assets/foto/img/woman-vlogging-with-her-phone-(1).jpg" alt="" class="center">
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Iure fugiat ut eos tempore
        asperiores </p>
    <p><i><a href="@">www.influencer.com</a></i></p>
</div>