<div class="container">
    <h1>Become an <br> influencer</h1>
    <img src="../../assets/foto/img3/logo.png" alt="" class="logo">
    <img src="../../assets/foto/img3/woman.png" alt="" class="woman">
    <img src="../../assets/foto/img3/arrow.png" alt="" class="arrow">
    <img src="../../assets/foto/img3/plus.png" alt="" class="plus">
    <img src="../../assets/foto/img3/priam.png" alt="" class="priamokut">
    <img src="../../assets/foto/img3/dote.png" alt="" class="dote">
    <img src="../../assets/foto/img3/dote.png" alt="" class="dote2">
</div>