
div.container {
    width: 100%;
    height: 100vh;
    //background-color: chocolate;
    //background: url(https://images.pexels.com/photos/730256/pexels-photo-730256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    position: relative;
    overflow: hidden;
    /*------------------------*/
    a.btn_back {
        z-index: 33333;
        padding: 10px 50px;
        background-color: rgba(247, 247, 247, 0);
        position: absolute;
        top: 15%;
        left: 5%;
        text-decoration: none;
        font-size: 1.5em;
        border: 2px solid rgba(38, 100, 141, 0.11);
        color: rgb(38, 100, 141);
        transition-duration: 1s;
        overflow: hidden;
        border-radius: 5px;
        i {
            color: rgb(38, 100, 141);
            position: relative;
            left: -85%;
            transition-duration: 1s;
        }
        &:hover i {
            color: transparent;
            transition-duration: 1s;
        }
    }

    a.btn_back:hover::after {
        content: "Go";
        width: 80%;
        transition-duration: 1s;
        color: white;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transform: rotate(0deg) scale(1);
        font-style: italic;
    }
    a.btn_back::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: rgb(38, 100, 141);
        top: 0px;
        left: 0px;
        transition-duration: 1s;
        color: white;
        //border-radius: 0px 0px 100px 0px;
        transform: rotate(145deg) scale(0);
        overflow: hidden;

    }
    a.btn_back::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 40%;
        height: 100%;
        background-color: rgb(38, 100, 141);
        top: 0px;
        left: 60%;
        transition-duration: 1s;
        color: white;
        border-radius: 0px 0px 0px 0px;
    }
    
    /*------------------------*/

    div.logo_1 {
        width: 20%;
        height: 10%;
        background: url(../../assets/foto/pg-1/logo1.png);
        //background-color: red;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        position: relative;
        left: 50px;
        top: 2vh;
    }
    div.foto_1 {
        width: 35%;
        height: 65%;
        //background-color: red;
        background: url(../../assets/foto/pg-1/foto1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        position: absolute;
        top: 20vh;
        left: 14%;
    }
    div.text_1 {
        width: 30%;
        height: 50%;
        //background-color: red;
        z-index: 2;
        position: absolute;
        top: 22vh;
        left: 55%;
        h1 {
            font-size: 69.51px;
            font-family: "Montserrat";
            color: rgb(27, 26, 28);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 0.976;
            text-align: left;
            position: relative;
            top: 0%;
        }
        p {
            font-size: 26px;
            font-family: "Poppins";
            color: rgb(36, 35, 41);
            line-height: 1.907;
            text-align: right;
            position: relative;
            top: 10%;
        }
        a {
            text-decoration: none;
            i {
             
                font-size: 2em;
                font-family: "Poppins";
                color: rgb(36, 35, 41);
                font-weight: bold;
                font-style: italic;
                line-height: 1.29;
                position: absolute;
                top: -32%;
                left: 30%;
                 
            }
        }
    }

    section.desing {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        //background-color: cornflowerblue;
        overflow: hidden;
        z-index: 1;
        div.itm_1 {
            position: absolute;
            left: 92%;
            top: 20%;
        }
        div.itm_2 {
            position: absolute;
            left: 40%;
            top: 2%;
        }
        div.itm_3 {
            position: absolute;
            left: 85%;
            top: 30%;
        }
        div.itm_4 {
            position: absolute;
            left: 0%;
            top: 30%;
        }
        div.itm_5 {
            position: absolute;
            left: 50%;
            top: 85%;
        }
      

    }
      /*----------*/

      div.itm_JonSnow1 {
        width: 100%;
        height: 100%;
        position: relative;
        top: -94px;
        //background-color: rgb(158, 69, 69);

        z-index: 1;
        display: flex;
        overflow: hidden;
        div.snow1{
            width: 11px;
            height: 14px;
            background: black;
            position: relative;
            top: -5%;
            left: 0%;
            border-radius: 50%;
            background: #D4EAE9;
           
            background: -webkit-radial-gradient(center, #D4EAE9, #0B827D);
            background: -moz-radial-gradient(center, #D4EAE9, #0B827D);
            background: radial-gradient(ellipse at center, #D4EAE9, #0B827D);
            opacity: .8;

            margin-left: 2%;

            animation: 15s ease-in 1s infinite reverse both running identifier;
            //animation: identifier linear 5s;
            animation-delay: 35s;
        }
        @keyframes identifier {

            0% { 
                transform: translateY(97vh) translateX(50px) scale(0);
                background: radial-gradient(ellipse at center, #d4eae9de, #0b827cd2);
            }
           
            100% { 
                transform: translateY(97%) translateX(-50px) scale(1);
                background: radial-gradient(ellipse at center, #03d1c74d, #56c0bb4b);
            }

        }
        
    }

    /*----------*/

    
}

/* -------- */

@media screen and (max-width: 1366px) {
    div.container {
        width: 100%;
        height: 100vh;
        //background-color: chocolate;
     
        div.logo_1 {
            width: 15%;
            height: 5%;
           
            left: 5%;
            top: 5vh;
        }
        div.foto_1 {
            width: 33%;
            height: 60%;
            top: 25vh;
            left: 14%;
        }
        div.text_1 {
            width: 30%;
            height: 50%;
            top: 35vh;
            left: 51%;
            h1 {
                font-size: 45px;
                line-height: 0.876;
                top: 0%;
            }
            p {
                font-size: 20px;
                line-height: 1.707;
                top: 10%;
            }
            a {
                text-decoration: none;
                i {
                 
                        font-size: 1.5em;
                        line-height: 1.29;
                        position: absolute;
                        top: -56%;
                        left: 55%;
                }
            }
        }
    
        section.desing {
            //background-color: cornflowerblue;
            div.itm_1 {
                position: absolute;
                left: 88%;
                top: 15%;
               img {
                   width: 60%;
               }
            }
            div.itm_2 {
                position: absolute;
                left: 40%;
                top: 5%;
                img {
                    width: 60%;
                }
            }
            div.itm_3 {
                position: absolute;
                left: 85%;
                top: 38%;
                img {
                    width: 60%;
                }
            }
            div.itm_4 {
                position: absolute;
                left: 0%;
                top: 30%;
                img {
                    width: 60%;
                }
            }
            div.itm_5 {
                position: absolute;
                left: 50%;
                top: 85%;
                img {
                    width: 65%;
                }
            }
        }
        
    }
  }

