


<div class="container">
    <!-- <app-jon-snow></app-jon-snow> -->

    <a routerLink="/home" routerLinkActive="active" class="btn_back">
      <i>Back</i>
    </a>

    <a href="#">
        <div class="logo_1"></div>
    </a>
  

    <div class="foto_1"></div>

    <div class="text_1">

        <h1>PLAN YOUR CONTENT</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi laborum molestiae fugit aliquid, ipsum nemo?</p>
        
        <a href="#">
            <i>www.influencer.com</i>
        </a>
    </div>

    <section class="desing">
        <div class="itm_1">
            <img @openClose *ngIf="open"  src="../../assets/foto/pg-1/Shape-2.png" alt="" width="80%">
        </div>
        <div class="itm_2">
            <img @openClose1 *ngIf="open"  src="../../assets/foto/pg-1/Shape-3.png" alt="" width="100%">
        </div>
       <div class="itm_3">
            <img @openClose2 *ngIf="open"  src="../../assets/foto/pg-1/Shape-4.png" alt="" width="90%">
        </div>
        <div class="itm_4">
            <img @openClose3 *ngIf="open"  src="../../assets/foto/pg-1/Shape-5.png" alt="" width="75%">
        </div>
         <div class="itm_5">
            <img @openClose4 *ngIf="open"  src="../../assets/foto/pg-1/Shape.png" alt="" width="90%">
        </div>
     


      


    </section>


      <!--------->
    <div class="itm_JonSnow1">

        <div class="snow1 " style="  animation-delay: 1s;"></div>
        <div class="snow1 " style="  animation-delay: 5s; background: radial-gradient(ellipse at center, #4bd3cc, #105a56);"></div>
        <div class="snow1 " style="  animation-delay: 15s;"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 3s;"></div>
        <div class="snow1 " style="  animation-delay: 12s; background: radial-gradient(ellipse at center, #26413f, #cee0df);"></div>
        <div class="snow1 " style="  animation-delay: 18s;"></div>
        <div class="snow1 " style="  animation-delay: 2s;"></div>
        <div class="snow1 " style="  animation-delay: 21s; background: radial-gradient(ellipse at center, #bae0de, #0004ff);"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        <div class="snow1 " style="  animation-delay: 3s;"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 7s; background: radial-gradient(ellipse at center, #57f3eb, #6fdbd6);"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 23s;"></div>
        <div class="snow1 " style="  animation-delay: 12s; background: radial-gradient(ellipse at center, #214947, #1684df);"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 2s;"></div>
        <div class="snow1 " style="  animation-delay: 21s; background: radial-gradient(ellipse at center, #92e2de, #0c89ff);"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        <div class="snow1 " style="  animation-delay: 1s;"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 15s;"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 23s; background: radial-gradient(ellipse at center, #4a7e7b, #71fff8);"></div>
        <div class="snow1 " style="  animation-delay: 12s;"></div>
        <div class="snow1 " style="  animation-delay: 18s;"></div>
        <div class="snow1 " style="  animation-delay: 2s; background: radial-gradient(ellipse at center, #7ac4c0, #3fb1ab);"></div>
        <div class="snow1 " style="  animation-delay: 7s;"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        <div class="snow1 " style="  animation-delay: 1s;"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 15s;"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 18s; background: radial-gradient(ellipse at center, #8de0dc, #479692);"></div>
        <div class="snow1 " style="  animation-delay: 12s;"></div>
        <div class="snow1 " style="  animation-delay: 18s;"></div>
        <div class="snow1 " style="  animation-delay: 2s; background: radial-gradient(ellipse at center, #595e5dd7, #0dc7ffa4);"></div>
        <div class="snow1 " style="  animation-delay: 21s;"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        
       
    </div>


</div>





