
div.container {
    width: 100%;
    height: 100vh;
    //background-color: chocolate;
    position: relative;
    overflow: hidden;
      /*------------------------*/
      a.btn_back {
        z-index: 33333;
        padding: 10px 50px;
        background-color: rgba(247, 247, 247, 0);
        position: absolute;
        top: 15%;
        left: 10%;
        text-decoration: none;
        font-size: 1.5em;
        border: 2px solid rgba(38, 100, 141, 0.11);
        color: rgb(38, 100, 141);
        transition-duration: 1s;
        overflow: hidden;
        border-radius: 5px;
        i {
            color: rgb(38, 100, 141);
            position: relative;
            left: -85%;
            transition-duration: .5s;
        }
        &:hover i {
            color: transparent;
            transition-duration: .5s;
        }
    }

    a.btn_back:hover::after {
        content: "Go";
        width: 80%;
        transition-duration: .7s;
        color: white;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transform: rotate(0deg) scale(1);
        font-style: italic;
    }
    a.btn_back::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: rgb(38, 100, 141);
        top: 0px;
        left: 0px;
        transition-duration: 1s;
        color: white;
        //border-radius: 0px 0px 100px 0px;
        transform: rotate(145deg) scale(0);
        overflow: hidden;

    }
    a.btn_back::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 40%;
        height: 100%;
        background-color: rgb(38, 100, 141);
        top: 0px;
        left: 60%;
        transition-duration: 1s;
        color: white;
        border-radius: 0px 0px 0px 0px;
    }
    
    /*------------------------*/
    div.logo_1 {
        width: 20%;
        height: 10%;
        background: url(../../assets/foto/pg-1/logo1.png);
        //background-color: red;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        position: relative;
        left: 50px;
        top: 2vh;
    }
    div.foto_1 {
        width: 35%;
        height: 55%;
        
        background: url(../../assets/foto/pg-1/foto2.png);
        //background-color: red;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        position: absolute;
        top: 40vh;
        left: 40%;
    }
    div.text_1 {
        
        width: 70%;
        height: 30%;
        // background-color: red;
        z-index: 2;
        position: absolute;
        top: 3vh;
        left: 15%;
        text-align: center;
        h1 {
            font-size: 69.51px;
            font-family: "Montserrat" sans-serif;
            color: rgb(27, 26, 28);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 0.976;
            //text-align: left;
            position: relative;
            top: 0%;

        }
        p {
            font-size: 26px;
            font-family: "Poppins" sans-serif;
            color: rgb(36, 35, 41);
            line-height: 1.907;
            //text-align: right;
            position: relative;
            top: 0%;
        }
        a {
            text-decoration: none;
            i {
             
                    font-size: 2em;
                    font-family: "Poppins";
                    color: rgb(36, 35, 41);
                    font-weight: bold;
                    font-style: italic;
                    line-height: 1.29;
                    position: absolute;
                    top: 5%;
                    left: 80%;
            }
        }
    }

    section.desing {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        //background-color: cornflowerblue;
        overflow: hidden;
        z-index: 1;
        div.itm_1 {
            position: absolute;
            left: 92%;
            top: 150px;
        
        }
        div.itm_2 {
            position: absolute;
            left: 15%;
            top: 30vh;
            
        }
        div.itm_3 {
            position: absolute;
            left: 25%;
            top: 250px;
        }
        div.itm_4 {
            position: absolute;
            left: 70%;
            top: 70%;

        }
        div.itm_5 {
            position: absolute;
            left: 10%;
            top: 85%;
        }
        div.itm_6 {
            position: absolute;
            left: 85%;
            top: 40%;
        }
        div.itm_7 {
            position: absolute;
            left: 0%;
            top: 15%;
        }
    }
    
}
/* -------- */

@media screen and (max-width: 1366px) {
    div.container {
        width: 100%;
        height: 100vh;
        div.logo_1 {
            width: 15%;
            height: 5%;
            left: 5%;
            top: 5vh;
        }
        div.foto_1 {
            width: 35%;
            height: 50%;
            top: 35vh;
            left: 40%;
        }
        div.text_1 {
            
            width: 60%;
            height: 25%;
            top: 7vh;
            left: 25%;
            text-align: center;
            h1 {
                font-size: 52px;
                line-height: 0.876;
                top: 5%;
            }
            p {
                font-size: 20px;
                line-height: 1.807;
                top: 15%;
            }
            a {
                text-decoration: none;
                i {
                    font-size: 1.5em;
                    line-height: 1;
                    top: 2%;
                    left: 80%;
                }
            }
        }
    
        section.desing {
           
            width: 100%;
            height: 100%;
            div.itm_1 {
                position: absolute;
                left: 90%;
                top: 150px;
                img {
                    width: 65%;
                }
            }
            div.itm_2 {
                position: absolute;
                left: 15%;
                top: 30vh;
                img {
                    width: 65%;
                }
            }
            div.itm_3 {
                position: absolute;
                left: 25%;
                top: 250px;
                img {
                    width: 65%;
                }
            }
            div.itm_4 {
                position: absolute;
                left: 60%;
                top: 70%;
                img {
                    width: 100%;
                }
    
            }
            div.itm_5 {
                position: absolute;
                left: 10%;
                top: 85%;
                img {
                    width: 65%;
                }
            }
            div.itm_6 {
                position: absolute;
                left: 85%;
                top: 40%;
                img {
                    width: 65%;
                }
            }
            div.itm_7 {
                position: absolute;
                left: 0%;
                top: 15%;
                img {
                    width: 65%;
                }
            }
        }
        
    }
}