.container {
    position: relative;
    width: 100%;
    height: 100vh;
}
h1 {
    position: absolute;
    text-transform: uppercase;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 0.9;
    bottom: 15%;
    left: 20%;
    z-index: 1;
}
.logo {
    position: absolute;
    top: 45%;
    left: 20%;
}
.priamokut {
    position: absolute;
    top: 0;
    right: 10%;
}
.foto {
    width: 45%;
    position: absolute;
    top: 3%;
    right: 15%;

}
.line {
    width: 15%;
    position: absolute;
    top: 30%;
}
.dote {
    position: absolute;
    top: 1%;
    left: 25%;
    z-index: -1;
}
.dote2 {
    position: absolute;
    bottom: 25%;
    right: 12%;
}
.arrow {
    position: absolute;
    right: 2%;
    bottom: 5%;
}
.plus {
    position: absolute;
    bottom: 15%;
    right: 35%;
} 
.circle {
    
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: -1;
}