<div class="container">
    <img src="../../assets/foto/img2/line.png" alt="" class="line">
    <img src="../../assets/foto/img2/dote.png" alt="" class="dote">
    <img src="../../assets/foto/img2/dote.png" alt="" class="dote2">
    <img src="../../assets/foto/img2/priamokur.png" alt="" class="primokut">
    <img src="../../assets/foto/img2/plus.png" alt="" class="plus">
    <img src="../../assets/foto/img2/arrow.png" alt="" class="arrow">
    <img src="../../assets/foto/img2/logo.png" alt="" class="logo">
    <img src="../../assets/foto/img2/woman-taking-selfie-home.png" alt="" class="center">
    <h1>The most <br> popular <br>influencer</h1>
    <p class="text">Lorem ipsum dolor, sit amet consectetur<br> adipisicing elit. Autem non, dolore .</p>
    <p><a href="#"><i>www.influencer.com</i> </a></p>
</div>