<!------- night mode   -------->
<app-night></app-night>


<div class="container">
    <app-jon-snow></app-jon-snow>
    <!---------->
    <a routerLink="/home" routerLinkActive="active" class="btn_back">
        <i>Back</i>
    </a>
    <!---------->

    <h1>The most <br> popular</h1>
    <img src="../../assets/foto/img4/logo.png" alt="" class=" logo">
    <img src="../../assets/foto/img4/priam.png" alt="" class="priamokut">
    <img src="../../assets/foto/img4/woman-taking-selfie-home1.png" alt="" class="foto">
    <img src="../../assets/foto/img4/line.png" alt="" class="line">
    <img src="../../assets/foto/img4/dote.png" alt="" class="dote">
    <!-- <img src="../../assets/foto/img4/dote.png" alt="" class="dote2"> -->
    <img @openClose *ngIf='open' src="../../assets/foto/img4/arrow.png" alt="" class="arrow">
    <img src="../../assets/foto/img4/plis.png" alt="" class="plus">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Aspernatur, a soluta enim hic culpa repudiandae
        <br>atque
        quae est. Soluta obcaecati officia asperiores.

    </p>
    <img src="../../assets/foto/img4/circle.png" alt="" class="circle">

</div>