  /*----------*/

  div.itm_JonSnow1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -94px;
    //background-color: rgb(158, 69, 69);

    z-index: 1;
    display: flex;
    overflow: hidden;
    div.snow1{
        width: 11px;
        height: 14px;
        background: black;
        position: relative;
        top: -5%;
        left: 0%;
        border-radius: 50%;
        background: #D4EAE9;
       
        background: -webkit-radial-gradient(center, #D4EAE9, #0B827D);
        background: -moz-radial-gradient(center, #D4EAE9, #0B827D);
        background: radial-gradient(ellipse at center, #D4EAE9, #0B827D);
        opacity: .8;

        margin-left: 2%;

        animation: 15s ease-in 1s infinite reverse both running identifier;
        //animation: identifier linear 5s;
        animation-delay: 35s;
    }
    @keyframes identifier {

        0% { 
            transform: translateY(97vh) translateX(50px) scale(0);
            background: radial-gradient(ellipse at center, #d4eae9de, #0b827cd2);
        }
       
        100% { 
            transform: translateY(97%) translateX(-50px) scale(1);
            background: radial-gradient(ellipse at center, #03d1c74d, #56c0bb4b);
        }

    }
    
}

/*----------*/