 <!------------------------------->

    <div class="itm_JonSnow1">

        <div class="snow1 " style="  animation-delay: 1s;"></div>
        <div class="snow1 " style="  animation-delay: 5s; background: radial-gradient(ellipse at center, #4bd3cc, #105a56);"></div>
        <div class="snow1 " style="  animation-delay: 15s;"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 3s;"></div>
        <div class="snow1 " style="  animation-delay: 12s; background: radial-gradient(ellipse at center, #26413f, #cee0df);"></div>
        <div class="snow1 " style="  animation-delay: 18s;"></div>
        <div class="snow1 " style="  animation-delay: 2s;"></div>
        <div class="snow1 " style="  animation-delay: 21s; background: radial-gradient(ellipse at center, #bae0de, #0004ff);"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        <div class="snow1 " style="  animation-delay: 3s;"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 7s; background: radial-gradient(ellipse at center, #57f3eb, #6fdbd6);"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 23s;"></div>
        <div class="snow1 " style="  animation-delay: 12s; background: radial-gradient(ellipse at center, #214947, #1684df);"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 2s;"></div>
        <div class="snow1 " style="  animation-delay: 21s; background: radial-gradient(ellipse at center, #92e2de, #0c89ff);"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        <div class="snow1 " style="  animation-delay: 1s;"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 15s;"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 23s; background: radial-gradient(ellipse at center, #4a7e7b, #71fff8);"></div>
        <div class="snow1 " style="  animation-delay: 12s;"></div>
        <div class="snow1 " style="  animation-delay: 18s;"></div>
        <div class="snow1 " style="  animation-delay: 2s; background: radial-gradient(ellipse at center, #7ac4c0, #3fb1ab);"></div>
        <div class="snow1 " style="  animation-delay: 7s;"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

        <div class="snow1 " style="  animation-delay: 1s;"></div>
        <div class="snow1 " style="  animation-delay: 5s;"></div>
        <div class="snow1 " style="  animation-delay: 15s;"></div>
        <div class="snow1 " style="  animation-delay: 4s;"></div>
        <div class="snow1 " style="  animation-delay: 18s; background: radial-gradient(ellipse at center, #8de0dc, #479692);"></div>
        <div class="snow1 " style="  animation-delay: 12s;"></div>
        <div class="snow1 " style="  animation-delay: 18s;"></div>
        <div class="snow1 " style="  animation-delay: 2s; background: radial-gradient(ellipse at center, #595e5dd7, #0dc7ffa4);"></div>
        <div class="snow1 " style="  animation-delay: 21s;"></div>
        <div class="snow1 " style="  animation-delay: 13s;"></div>

    </div>
    
     <!------------------------------->
